<style type="text/css">.scroll{height: 100%}</style>
<ion-view class="" view-title="<img src='img/logo-reward.png' height='95%'>">
	<ion-content class="padding tab-content"  scroll="false" style="padding:20px;">
		<div class="row">
	      <span style="color:#fff; text-align: center; margin-top: 15px; margin-bottom: 5px; font-weight:300; width: 100%; font-size:130%;">REFER YOUR FRIEND'S TO GET POINT</span>
	    </div>
	    <div class="list list-inset">
		  <label class="item item-input">
		  	<i class="icon ion-ios-people" style="font-size:120%;"></i>
		  	<span class="input-label">&nbsp;&nbsp;Name</span>
		    <input type="text" placeholder="Complete Name Friend">
		  </label>
		  <label class="item item-input">
		  	<i class="icon ion-ios-at" style="font-size:130%;"></i>
		    <span class="input-label">&nbsp;&nbsp;Email</span>
		    <input type="email" placeholder="valid Email Friend">
		  </label>
		</div>
		<button class="button button-block button-energized" ng-click="referFriend()">
	      	REFER (Earn 10pts)
	    </button>
	</ion-content>
</ion-view>