<style type="text/css">.scroll{height: 100%}</style>
<ion-view class="" view-title="<img src='img/logo-event.png' height='95%'>">
	<ion-content class="padding tab-content"  scroll="true">
		<div class="row">
	      <span style="color:#fff; text-align: center; margin-top: 15px; margin-bottom: 0; font-weight:300; width: 100%; font-size:130%;">EVENT</span>
	    </div>
	    <ion-list>
	      	<div class="list card eventList" collection-repeat="event in eventList" item-width="100%">
	      	  <div class="item">
			    <h2>{{event.title}}</h2>
			    <p>{{event.date}}</p>
			  </div>

			  <div class="item item-body">
			    <img class="full-image" ng-src="{{event.img}}">
			    <p ng-bind-html="event.text | cut:true:200:' ...'">
			    </p>
			  </div>

			  <div class="item tabs tabs-secondary tabs-icon-left">
			    <a class="tab-item" ng-href="#/tab/reward/addPoint/eventDetail/{{event.event_id}}">
			      <i class="icon ion-android-funnel"></i>
			      Detail
			    </a>
			    <a class="tab-item" href="#">
			      <i class="icon ion-ios-personadd"></i>
			      Join
			    </a>
			    <a class="tab-item" href="#">
			      <i class="icon ion-share"></i>
			      Share
			    </a>
			  </div>
			  <div style="margin:20px;"></div>
			</div>
		</ion-list>
		<div style="clear:both; margin:15px;"></div>
	</ion-content>
</ion-view>