<div class="tabs tabs-dark tabs-icon-top">
  <a class="tab-item" ui-sref="tab.shop">
    <i class="icon ion-ios-cart-outline"></i>
    SHOP
  </a>
  <a class="tab-item" ui-sref="tab.reward">
    <i class="icon ion-ribbon-b"></i>
    REWARD
  </a>
  <a class="tab-item" nav-clear ui-sref="tab.promo">
    <i class="icon ion-ios-email-outline"></i>
    PROMO
  </a>
  <a class="tab-item" href="#/tab/news">
    <i class="icon ion-ios-paper-outline"></i>
    NEWS
  </a>
  <a class="tab-item" href="#/tab/coupon">
    <i class="icon ion-ios-pricetags-outline"></i>
    COUPON
  </a>
</div>