<style type="text/css">.scroll{height: 85%}</style>
<!-- <ion-header-bar class="bar-positive">
        <h1 class="title">Add Friend</h1>
</ion-header-bar> -->
<ion-view class="" view-title="<img src='img/logo-ikool.png' width='35%'>">
<!-- <ion-view class="landing-page" hide-nav-bar="false"> -->

  <ion-content class="padding landing-page" scroll="false">
    <div class="row" style="margin-top:13%;">
      <span style="color:#fff; font-style: italic; text-align: center; font-weight:500; width: 100%; font-size:135%;">"GOOD MORNING"</span>
    </div>
    <div class="row">
      <span style="color:#f2c335; text-align: center; margin-top: 10px; font-weight:500; width: 100%; font-size:130%;">Rinaldi</span>
    </div>
    <div class="row">
      <span style="color:#f2c335; text-align: center; margin-top: 2px; font-weight:500; width: 100%; font-size:80%;">(Member ID : 210001)</span>
    </div>
    <div class="row">
      <span style="color:#fff; text-align: center; margin-top: 7px; font-weight:400; width: 100%; font-size:100%;">Your Point Reward : </span>
    </div>
    <div class="row">
      <span style="color:#fff; text-align: center; margin-top: 6px; font-weight:400; width: 100%; font-size:100%;"><span id="jumlah_point" style="font-size:110%; font-weight:600">120</span> points</span>
    </div>
    <ion-scroll zooming="false" class="promo-content" direction="y"  style="width: 100%; height: 30% !important">
    <ion-list>
      <ion-item class="item-full list-promo" ng-repeat="promo in promo_list" href="#">
        <img ng-src="{{promo.gambar}}" width="100%" class="gambar-promo">
      </ion-item>
    </ion-list>
    </ion-scroll>
  </ion-content>
  <div ng-include src="'templates/custom-tab.html'"></div>
  
</ion-view>