<ion-view view-title="<img src='img/logo-regis.png' height='95%' />">
  <ion-content class="padding register-content">
  <h4 class="login-top-text" style="font-style:inherit">USER INFORMATION</h4>
    <form novalidate="novalidate" on-valid-submit="tnc()">
      <div class="list list-inset" style="margin-bottom:12px;">
        <label class="item item-input validated">
          <i class="ion-person placeholder-icon"></i>
          <input type="text" placeholder="Complete Name" ng-model="data.name" required="required">
          <i class="icon ion-alert-circled error col col-10" style="min-width: 16px;"></i>
        </label>
        <!-- <label class="item item-input">
          <i class="ion-ios-calendar-outline placeholder-icon"></i>
          <ionic-datepicker idate="data.birthday" disablepreviousdates="false"  callback="datePickerCallback">
            <input type="date" placeholder="Your Birthday" ng-model="data.birthday">
          </ionic-datepicker>
        </label> -->
        <label class="item item-input">
          <i class="ion-ios-calendar-outline placeholder-icon"></i>
          <input type="date" placeholder="Your Birthday" ng-model="data.birthday">
        </label>
        <label class="item item-input validated">
          <i class="ion-iphone placeholder-icon"></i>
          <input type="tel" placeholder="Your Phone Number" ng-model="data.phone" required="required">
          <i class="icon ion-alert-circled error col col-10" style="min-width: 16px;"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="gender" ng-model="data.gender">
          <div class="item-content">
          <i class="ion-male"></i>
            Male
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="gender" ng-model="data.gender">
          <div class="item-content">
          <i class="ion-female"></i>
            Female
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-input">
          <i class="ion-ios-home-outline placeholder-icon"></i>
          <textarea placeholder="Your Address Detail" rows="4" ng-model="data.address"></textarea>
        </label>
        <label class="item item-input validated">
          <i class="ion-ios-location placeholder-icon"></i>
          <input type="text" placeholder="City" ng-model="data.city" required="required">
          <i class="icon ion-alert-circled error col col-10" style="min-width: 16px;"></i>
        </label>
      </div>
      <div class="list list-inset">
        <label class="item item-input validated">
          <i class="ion-at placeholder-icon"></i>
          <input type="email" placeholder="Your Valid Email" ng-model="data.email" required="required">
          <i class="icon ion-alert-circled error col col-10" style="min-width: 16px;"></i>
        </label>
        <label class="item item-input validated">
          <i class="ion-ios-locked-outline placeholder-icon"></i>
          <input type="password" placeholder="Password" ng-model="data.password" required="required">
          <i class="icon ion-alert-circled error col col-10" style="min-width: 16px;"></i>
        </label>
        <label class="item item-input validated">
          <i class="ion-ios-refresh-empty placeholder-icon"></i>
          <input type="password" placeholder="Retype Password" ng-model="data.repassword" required="required">
          <i class="icon ion-alert-circled error col col-10" style="min-width: 16px;"></i>
        </label>
      </div>
      <button class="button button-block button-energized">REGISTER</button>
      <!-- <button class="button button-block button-calm" ng-click="register()">Register</button> -->
      </form>
  </ion-content>
</ion-view>
