<style type="text/css">.scroll{height: 100%}</style>
<ion-view class="" view-title="<img src='img/logo-reward.png' height='95%'>">
	<ion-content class="padding tab-content"  scroll="true">
		<div class="row">
	      <span style="color:#fff; text-align: center; margin-top: 15px; margin-bottom: 5px; font-weight:300; width: 100%; font-size:130%;">ADD POINT</span>
	    </div>
	    <div class="list card">
		   	<div class="item item-body">
			    <img class="full-image" src="img/reward/beli-vkool.png">
			    <p style="text-align:center">
			      Masukan Kode Voucher yang kamu dapatkan setelah melakukan pembelian produk - produk V-Kool
			    </p>
		  	</div>
		  	<div class="item tabs tabs-secondary tabs-icon-left">
			    <button class="button button-full button-energized" style="margin-top:0;margin-bottom:0;" ui-sref="tab.beliVKool">
				  PURCHASE V-KOOL
				</button>
		  	</div>
		</div>
		<div class="list card">
		   	<div class="item item-body">
			    <img class="full-image" src="img/reward/referal.png">
			    <p style="text-align:center">
			      Undang temen-temanmu untuk bergabung bersama V-Kool, dan dapatkan Point Rewardnya.
			    </p>
		  	</div>
		  	<div class="item tabs tabs-secondary tabs-icon-left">
			    <button class="button button-full button-energized" style="margin-top:0;margin-bottom:0;" ui-sref="tab.referal">
				  Referal
				</button>
		  	</div>
		</div>
		<div class="list card">
		   	<div class="item item-body">
			    <img class="full-image" src="img/reward/event.png">
			    <p style="text-align:center">
			      Ayo Ikuti Event-Event kami untuk bisa dapatkan Diskon dan Point Reward Tentunya.
			    </p>
		  	</div>
		  	<div class="item tabs tabs-secondary tabs-icon-left">
			    <button class="button button-full button-energized" style="margin-top:0;margin-bottom:0;"  ui-sref="tab.event">
				  EVENT
				</button>
		  	</div>
		</div>
	</ion-content>
</ion-view>