<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!-- <ion-tabs tabs-style="tabs-icon-top" class="tabs-icon-top tabs-positive">

  <ion-tab title="Home" icon-off="ion-ios7-home-outline" icon-on="ion-ios7-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>


  <ion-tab title="My Friend" icon-off="ion-ios7-people-outline" icon-on="ion-ios7-people" href="#/tab/teman">
      <ion-nav-view name="tab-teman"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Add Friend" icon-off="ion-ios7-plus-outline" icon-on="ion-ios7-plus" href="#/tab/tambah">
    <ion-nav-view name="tab-tambah"></ion-nav-view>
  </ion-tab>
   <ion-tab title="Home" icon-off="ion-ios7-home-outline" icon-on="ion-ios7-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab> -->

<!-- <ion-tabs class="tabs-dark tabs-icon-top tab-vkool"> -->
<ion-tabs class="tabs-dark tabs-icon-top" animation="slide">
	<ion-tab title="SHOP" icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline" href="#/tab/shop">
    <ion-nav-view name="tab-shop"></ion-nav-view>
	</ion-tab>
	<ion-tab title="REWARD" icon-on="ion-ribbon-b" icon-off="ion-ribbon-b"  href="#/tab/reward">
    <ion-nav-view name="tab-reward"></ion-nav-view>
	</ion-tab>
	<ion-tab title="PROMO" icon-on="ion-ios-email" icon-off="ion-ios-email-outline" href="#/tab/promo">
    <ion-nav-view name="tab-promo"></ion-nav-view>
	</ion-tab>
	<ion-tab title="NEWS" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" href="#/tab/news">
		<ion-nav-view name="tab-news"></ion-nav-view>
	</ion-tab>
	<ion-tab title="COUPON" icon-on="ion-ios-pricetags" icon-off="ion-ios-pricetags-outline" href="#/tab/coupon">
    <ion-nav-view name="tab-coupon"></ion-nav-view>
	</ion-tab>
</ion-tabs>
